* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    /* background-color: #a89999; */
}

.main-content {
    flex: 1;
    background-color: #fffaf2;
    display: flex;
    flex-direction: column;

}


/* navbar */
.sidebar {
    width: 275px;
    min-height: 100vh;
    background-color: #f5ecdd;
    display: flex;
    flex-direction: column;
    border-right:1.5px solid #e9d9bb;


}

nav {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nav-top {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:12px;
    padding: 24px;
    /* height: 80px; */
    font-weight:700;
    font-size:22px;
}

.nav-top span{
    color:#464635;
}

ul{
    margin-top: 20px;
}

.job-track-icon{
    width: 35px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #818263;
    border-radius: 6px;
    color:white;
}

li {
    margin: 4px 12px;
    list-style: none;
    padding: 0px;
}



li a{
    display:flex;
    align-items: center;
    gap:14px;
    padding:12px 16px;
    color:#5C5C49;
    text-decoration:none;
    padding: 12px 16px;
    border-radius:10px;
    transition: 0.2s;

    font-size:14px;
    font-weight:500;
}



/* Active Item (Dashboard) */
li:first-child a{
    background:#dcd4c1;
    color:#464635;
    font-weight:600;
}

/* Hover */
li a:hover{
    background:#F6EAD4;
}

/* Icons */
li svg{
    width:16px;
    height:16px;
    stroke-width:2.25;
}

/* Bottom Card */
.nav-bottom{
    margin-top:auto;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:40px;
    padding:18px;
    background-color:#EFD7CF;
    border-radius:18px;

    display:flex;
    flex-direction:column;
    gap:10px;

    height:auto;
}

.bottom-icon{
    width:42px;
    height:42px;
    /* background:#FFFAF2; */

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:10px;
}

.nav-bottom h4{
    color:#464635;
    font-size:16px;
    font-weight:600;
}

.nav-bottom p{
    color:#606051;
    font-size:14px;
    line-height:1.5;
}













/* header */

header {
    height: 85px;
    display: flex;
    justify-content: space-between;

    padding: 24px 30px;
    margin: 5px;
}

.header-container h1{
    
    color:#4d4d3d;
    font-size:48px;
    font-weight:700;
}

.header-container p{
    color:#606051;
    font-size:14px;
    line-height:1.5;
}

.add-application-btn {

    display:flex;
    align-items:center;
    justify-content:center;
    gap:14px;

    padding: 0px 28px;
    height: 52px;

    border:none;
    border-radius:12px;

    background-color: #818263;
    color:white;

    font-size:15px;
    font-weight:500;
    font-family:'Inter', sans-serif;


    cursor: pointer;
    
}



/* Stat Cards */

.stats-cards{
    display:flex;
    gap:20px;
    padding:20px;
}

.stat-card{
    width:300px;
    height:150px;

    padding:20px;

    display:flex;
    align-items:center;
    gap:18px;

    
    border-radius:16px;
}

/* Card Colors */

#total-stat{
    background:#F6EAD4;
    border:1.5px solid #b8ac9a;
}

#applied-stat{
    background:#a4a76939;
    border:1.5px solid #a4a769a7;
}

#interview-stat{
    background:#fce5de;
    border:1.5px solid #ddc7c0;
}

#offers-stat{
    background:#dcd4c16e;
    border:1.5px solid #cec6ba;
}

/* Icon Circle */

.stat-card-icon{
    width:52px;
    height:52px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;

    color:#464635;
}

#total-stat .stat-card-icon{
    background:#EBD5B1;
}

#applied-stat .stat-card-icon{
    background:#a4a769a7;
}

#interview-stat .stat-card-icon{
    background:#E4C2B8;
}

#offers-stat .stat-card-icon{
    background:#d1cbbd;
}

.stat-card svg{
    width:24px;
    height:24px;
    stroke-width:2.2;
}

/* Text */

.inside-card h3{
    font-size:36px;
    font-weight:700;
    line-height:1;
    color:#464635;
}

.inside-card h4{
    font-size:15px;
    font-weight:600;
    margin-bottom:6px;
    color:#464635;
}

.inside-card p{
    font-size:13px;
    color:#606051;
}






/* kanban-Board */

.kanban-board {
    margin: 5px;
    flex: 1;
    background-color: #9551cf;
    display: flex;
    justify-content: space-around;
}

.column {
    background-color: #4754ad;
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;


}

.column-header {
    background-color: #3e90ca;
    height: 40px;
}


.job-card {
    background-color: #b08ef3;
}

.add-card-btn {
    width: 180px;
    height: 30px;
    align-self: center;
    margin: 5px;
}